<div class="jumbotron mt-4">
    <h1 class="display-4">Inicio</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quam dolorem, numquam recusandae, quos rerum voluptas consequuntur cum corporis accusantium esse repellendus ex quis libero odit. Quidem molestias ad fugit doloribus sapiente harum nobis repellat consequatur, autem odio dolorem suscipit illo perferendis a accusantium laudantium, voluptatem, architecto nisi eveniet veritatis ea fugiat mollitia. Rerum culpa dicta earum necessitatibus. Ea et neque odit est eius quas, pariatur ducimus eaque enim adipisci consectetur amet nihil nisi alias optio explicabo, harum ipsa reprehenderit, natus quasi totam in fugit. Aspernatur nulla voluptatibus rerum doloremque.</p>
</div>